<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script type="text/javascript" src="../static/sudoku.js"></script>
  <script type="text/javascript" src="../static/utils.js"></script>
  <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="../static/style.css">
  <title>Home</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>TITLE</h1>
    </div>

    <div class="board_selection_area">
      <div class="board_option">
        <img id="API_board" class="fas fa-globe fa-5x" onclick="displayDiffDialogue('dialogue')"></img>
        <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quis.</p>
      </div>

      <div class="board_option">
        <img id="custom_board" class="fas fa-cogs fa-5x" onclick="goToPage('sudoku/0')"></img>
        <p style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, amet!</p>
      </div>
    </div>

    <div id="dialogue" title="Board Difficulty" hidden>
      <fieldset>
        <legend>Select a Difficulty:</legend>
        <label>Easy</label>
        <input name="puzzle_difficulty" type="radio"><br>
        <label>Medium</label>
        <input name="puzzle_difficulty" type="radio"><br>
        <label>Hard</label>
        <input name="puzzle_difficulty" type="radio">
      </fieldset>
      <button onclick="goToPage('sudoku/' + getDiffChoosen())">Fetch</button>

    </div>

    <script>

    </script>

    <footer>
      <p>Sudoku &copy; 2019</p>
    </footer>
  </div>

</body>

</html>