<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../static/style.css" type="text/css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
  <script type="text/javascript" src="../static/sudoku.js"></script>

  <title>Sudoku</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>TITLE</h1>
      <div class="misc_bar">
        <ul>
          <li>Settings</li>
          <li>Help</li>
        </ul>
      </div>
    </div>

    <div class="play_bar">
      <div class="number_bar">
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
      </div>

      <div class="action_bar">
        <ul>
          <li>pencil</li>
          <li>erase</li>
        </ul>
      </div>
    </div>

    <div class="puzzle_area">
      <div class="banner">
        <p>TEXT</p>
      </div>

      <div id="board" class="puzzle">
      </div>

      <div class="banner">
        <p>TEXT</p>
      </div>
    </div>

      <footer>
        <p>Sudoku &copy; 2019</p>
      </footer>

</body>
</html>
